

  .table {
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
  }
  .table th, .table td {
    padding: 8px;
    border: 3px solid #111;
  }
  .table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  .table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .table tbody tr:hover {
    background-color: #ddd;
  }
  .table td {
    min-width: 100px;
    box-sizing: border-box;
    width: 100%;
  }
  .table input {
    width: 100%;
  }